<div class="row">
    <div class="col-md-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <span class="badge badge-success">
                        Home
                    </span>
                </li>
                <li class="breadcrumb-item">
                    <span class="badge badge-success">
                        Usuarios
                    </span>
                </li>
            </ol>
        </nav>
    </div>

    <div class="col-md-12">
        <div class="row justify-content-end">
            <div class="col-4">
                <input type="search" class="form-control" placeholder="Nombre de usuario....." (keyup)="filtraUsuarios($event)">
            </div>
            <div class="col-4">
                <button class="btn btn-success" data-toggle="modal" data-target="#addUser">
                    Agregar Usuario
                </button>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Imagen</th>
                    <th scope="col">Nombre de usuario</th>
                    <th scope="col">Correo de usuario</th>
                    <th scope="col">Fecha de nacimiento</th>
                    <th scope="col">Contraseña de usuario</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuariosCopia">
                    <th scope="row">{{user.id}}</th>
                    <th scope="row">
                        <span class="fa fa-user"></span>
                    </th>
                    <th scope="row">{{user.nombre}}</th>
                    <th scope="row">{{user.correo}}</th>
                    <th scope="row">{{ user.fechaNacimiento | date: 'dd/MM/yy' }}</th>
                    <th scope="row">{{ user.contrasena | contrasena : '*' }}</th>
                    <th scope="row">
                        <div class="btn-group">
                            <button class="btn btn-primary" (click)="editarUsuario(user)">
                                Editar
                            </button>
                            <button class="btn btn-danger" (click)="eliminarUsuario(user.nombre, user.id)">
                                Eliminar
                            </button>
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #0480be; color: #ffffff;">
                <h5 class="modal-title" id="addUserLabel">Agregar usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formUser" >
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="">Nombre de usuario</label>
                            <input type="text" class="form-control" placeholder="nombre de usuario" formControlName="nombre">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Email</label>
                            <input type="email" class="form-control" placeholder="email del usuario" formControlName="correo">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Fecha de nacimiento</label>
                            <input type="date" class="form-control" formControlName="fechaNacimiento">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Sueldo</label>
                            <input type="number" class="form-control" placeholder="sueldo" formControlName="sueldo">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" [disabled]="!formUser.valid" (click)="agregarUsuario()">Guardar usuario</button>
            </div>
        </div>
    </div>
</div>