<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Casa</th>
            <th scope="col">Iterpretada por</th>
            <th scope="col">Imagen</th>
            <th scope="col">Credencial</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of perosnaje">
            <th scope="row">{{item.id}}</th>
            <th>{{item.personaje}}</th>
            <th>{{item.casaDeHogwarts}}</th>
            <th>{{item.interpretado_por}}</th>
            <th>
                <img src="{{item.imagen}}" alt="" style="width: 35%;">
            </th>
            <th>
                <button class="btn btn-primary" (click)="detallePersonaje(item.id)">
                    <i class="fa fa-eye"></i>
                </button>
            <th>

        </tr>
    </tbody>
</table>